# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Makefile
*~
autom4te.cache
/compile
*.log
*.status
/configure
/depcomp
/install-sh
/missing
/test-driver
/Makefile.in
/include/config.h.in
stamp-h1
\#*
*.log
*.trs
*coredump*
.deps
/test/serial
/test/serial_string
/test/serial_tuple
/test/serial_vector
vgcore*
